@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
    --padding-general: 15px 15px;
    --blue: rgba(13,59,241,1);
    --color-thead: #19b4b4;
    --color-blue-second: #267dff;
    --gris-content: #d5d5d5;
    --back-inputs: #f4f4f4;
    --back-component: rgb(250, 250, 250);
}


.costos {
    display: flex;
    flex-direction: column;
    background-color: var(--back-component);
    height: 350px;
    margin-top: 20px;
}
.content-costos {
    padding: var(--padding-general);
    display: grid;
    grid-template-columns: 1fr 4fr 110px;
    gap: 30px;
}
.content-costos .first-container-costos {
    /* background-color: lightcyan; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    gap: 10px;
}
.content-costos .first-container-costos .back-costos {
    height: 35px;
}
.content-costos .first-container-costos .back-costos:nth-child(1) {
    background-color: var(--color-blue-second);
    border-radius: 7px;
    padding: 5px 5px;
    color: white;
    font-family: var(--roboto);
}
.content-costos .first-container-costos .proyectada-real-costos {
    margin-top: 20px;
    background-color: var(--gris-content);
    display: flex;
    flex-direction: column;
    height: auto;
}
.content-costos .first-container-costos .proyectada-real-costos span {
    border: 1px solid rgb(158, 155, 155);
    padding: 2px 5px;
    font-family: var(--roboto);
}
.content-costos .first-container-costos .back-costos:nth-child(3) {
    margin-top: 10px;
    background-color: rgb(43, 40, 40);
    border-radius: 7px;
    padding: 5px 5px;
    color: white;
    font-family: var(--roboto);
}

/* SECOND CONTAINER */
.second-container-costos {
    width: 100%;
    display: flex;
    overflow-x: auto;
    /* background-color: lightcoral; */
}
.second-container-costos::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
    height: 8px; /* Altura del scrollbar */
}
.second-container-costos::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb del scrollbar */
    border-radius: 10px; /* Bordes redondeados del thumb */
}
.second-container-costos::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb al pasar el mouse */
}
.second-container-costos .colu-costos {
    flex: 0 0 150px; /* Establece un ancho base para cada columna. */
    margin-top: 12px;
    height: auto;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.second-container-costos .colu-costos:nth-child(n) {
    /* Ajuste para evitar que el texto se desborde */
    max-width: 150px; /* Ancho máximo */
    overflow: hidden; /* Oculta el desbordamiento */
}
.second-container-costos .inputs-costos input {
    position: relative; /* Necesario para posicionar los pseudo-elementos */
    width: 100%;
    background-color: var(--gris-content);
    border: 1px solid rgb(158, 155, 155);
    text-align: center;
    text-align: right; /* Alinear texto a la izquierda */
}
.second-container-costos .inputs-costos input::before  {
    content: '$'; /* Signo de dólar */
    width: 30px;
    position: absolute; /* Posición absoluta */
    left: 5px; /* Espaciado desde el borde izquierdo */
    top: 50%; /* Centrado verticalmente */
    transform: translateY(-50%); /* Ajustar el centrado */
    color: #999; /* Color del signo */
    pointer-events: none; /* Asegurarse de que no interfiera con el input */
}
.second-container-costos .inputs-costos input::placeholder {
    text-align: start;
    color: #999; /* Color del placeholder (ajustar si es necesario) */
    opacity: 1; /* Asegurarse de que el placeholder no se vuelva transparente */
}
.second-container-costos .colu-costos span {
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
    background-color: rgb(43, 40, 40);
    border-radius: 7px;
    padding: 3px 5px;
    color: white;
    font-family: var(--roboto);
    text-align: center;
    white-space: nowrap; /* El texto no se va a ajustar a otra línea */
}
.second-container-costos .colu-costos .porcentaje {
    background-color: var(--gris-content);
    border: 1px solid rgb(158, 155, 155);
    text-align: center;
    color: black;
}

/* third-container-costos */
.content-costos .third-container-costos {
    /* background-color: lightcoral; */
    margin-top: 5px;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.content-costos .back-total-costos {
    background-color: rgb(43, 40, 40);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    word-wrap: break-word;
}
.content-costos .total-inputs-costos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-costos .total-percent-costos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-costos .total-inputs-costos .total-projected-costos,
.content-costos .total-inputs-costos .total-real-costos,
.content-costos .total-percent-costos {
    /* width: 80px; */
    background-color: var(--gris-content);
    border: 1px solid rgb(158, 155, 155);
    text-align: center;
    height: 30px;
}
.content-costos .total-inputs-costos .total-projected-costos,
.content-costos .total-inputs-costos .total-real-costos,
.content-costos .total-percent-costos span {
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden;    /* Esconde el texto que se salga del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el texto es demasiado largo */
    display: inline-block;
    width: 100%;         /* Asegura que ocupe todo el ancho disponible */
    padding: 5px;        /* Añade algo de espacio interior si es necesario */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}
/* CONTENEDOR TEXT0 */



