.financial-info table {
    width: 100%;
    max-width: 100%; /* Evita que la tabla se expanda más allá del contenedor */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    table-layout: auto; /* Permite que las columnas se ajusten automáticamente */
}

.financial-info th, .financial-info td {
    border: 1px solid #ddd;
    padding: 8px; /* Reducir padding para más espacio */
    text-align: left;
}

.financial-info th {
    background-color: #4CAF50;
    color: white;
}

.financial-info .readonly {
    background-color: #f9f9f9;
    border: none;
    text-align: right;
}

/* Estilos específicos para input[type="text"] */
.financial-info input[type="text"] {
    width: 90%;
    padding: 8px; /* Reducir padding */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

.financial-info input.currency {
    width: 100%;
    max-width: 150px; /* Ajusta este valor según tus necesidades */
    min-width: 80px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Estilos específicos para textarea */
.financial-info textarea {
    width: 140px;
    padding: 2px; /* Reducir padding */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    resize: vertical;
}

/* Estilo específico para inputs con la clase datepicker */
.financial-info input.datepicker {
    width: 80px; /* Solo sobrescribe el ancho */
}

.financial-info .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.financial-info .button:hover {
    background-color: #45a049;
}

.financial-info .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 5px;
    font-size: 10px; /* Tamaño de fuente reducido */
    cursor: pointer;
    border-radius: 5px;
}

.financial-info .invisible {
    display: none;
}